<script>
  function prependProtocol(el) {
    const value = el.value;
    if (!value.length || value.match(/^https?:\/\//)) {
      return;
    }
    el.value = `http://${value}`;
  }
</script>

<!-- 
  This corresponds to a form in Mailchimp.
  It was created by copying the form url and field names from the Mailchimp form.
 https://art.us10.list-manage.com/subscribe?u=b971d4b7bcf8e197af1f16ec1&id=44106d3951
-->
<form
  name="email-signup"
  form
  action="https://art.us10.list-manage.com/subscribe/post"
  method="POST"
  target="_blank"
>
  <input type="hidden" name="u" value="b971d4b7bcf8e197af1f16ec1" />
  <input type="hidden" name="id" value="44106d3951" />
  <fieldset class="inline-field-group">
    <p>
      <label for="input-first">First name</label>
      <input id="input-first" type="text" name="MERGE1" required />
    </p>
    <p>
      <label for="input-last">Last name</label>
      <input id="input-last" type="text" name="MERGE2" required />
    </p>
  </fieldset>
  <p>
    <label for="input-email">Email address</label>
    <input id="input-email" type="email" name="MERGE0" required />
  </p>
  <p>
    <label for="input-organization">Organization </label>
    <input id="input-organization" type="text" name="MERGE3" />
  </p>
  <p>
    <label for="input-url">Website</label>
    <input
      id="input-url"
      type="url"
      name="MERGE4"
      onblur="prependProtocol(this)"
      novalidate
    />
  </p>

  <p>
    <button type="submit">Submit</button>
  </p>
</form>
