<script>
  function prependProtocol(el) {
    const value = el.value;
    if (!value.length || value.match(/^https?:\/\//)) {
      return;
    }
    el.value = `http://${value}`;
  }
</script>

<div class="popup scrim hidden">
  <div class="popup-contents">
    <h2>Free PDF from GIA</h2>
    <a class="close-button">✕</a>
    <p class="signup-message">
      Thank you for your interest in this open access educational resource. We
      want to know who you are, so that we have a sense of who is using this
      site.
    </p>

    <%- include('/email-signup-form', {submitLabel: 'Submit & Download'}) %>
  </div>
</div>
